.gradle
gradle/*
/build/
!gradle/wrapper/gradle-wrapper.jar
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/